.header {
    height: 60px;
    width: auto;
    padding: 30px;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header .logo {
    flex: 1 1 auto;
    height: 30px;
    width: auto;
    font-family: "Arial";
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 150px;
}
.header .links {
    gap: 20px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    height: 30px;
    width: auto;
    font-family: "Tahoma", sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}


.signin {
    height: auto;
    width: auto;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
}
.signin .text {
    height: 250px;
    width: 500px;
    font-family: "Tahoma", sans-serif;
    padding-left: 150px;
    
}
.signin .text .title {
    height: 50px;
    width: auto;
    font-size: 48px;
    color: #F9FAF8;
}
.signin .text .pgh {
    height: auto;
    width: auto;
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 20px;
}
.signin .text .signup{
    height: 30px;
    width: 125px;
    font-size: 14px;
    color: #F9FAF8;
    background: #3882F6;
    text-align: center;
}
.signin .img {
    width: 500px;
    height: auto;
    background-color: solid gray;
}

.info {
    height: 350px;
    width: auto;
    background-color: #ffffff;
    padding: 40px;
    font-family: "Tahoma", sans-serif;
    display: flex;
    flex-direction: column;
}
.info .infoheader {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}
.info .infopics {
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    gap: 20px;
}
.info .infopics .infopt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info .infopics .infopt .infop {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    background-color: solid gray;
}
.info .infopics .infopt .infot {
    font-size: 18px;
    color: darkgray;
    text-align: center;
}

.quote {
    height: auto;
    width: auto;
    background-color: #E5E7EB;
    border: 2px solid gray;
    padding: 40px;
}
.quote .said {
    font-family: "Tahoma", sans-serif;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}
.quote .author {
    font-family: "Tahoma", sans-serif;
    font-size: 18px;
    color: #1F2937;
    text-align: right;
}

.ad {
    height: 250px;
    width: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ad .box {
    height: 150px;
    width: 1024px;
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.ad .box .textsections {
    height: auto;
    width: 512px;
    display: flex;
    flex-direction: column;
}
.ad .box .textsections .cta {
    font-family: "Tahoma", sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}
.ad .box .textsections .ctadesc {
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    color: #F9FAF8;
}
.ad .box .sup {
    height: 30px;
    width: 125px;
    font-size: 14px;
    color: #F9FAF8;
    background: #3882F6;
    border: 2px solid #F9FAF8;
    text-align: center;
}


.footer {
    height: 20px;
    width: auto;
    background-color: #1f2937;
    border: 2px solid gray;
}


div {
    border: 1px solid red;
}
img {
    border: 1px solid blue;
}